@import "tailwindcss";
@plugin "daisyui";


body {
    @apply bg-cover bg-center;
    background-image: url('./assets/bg22.png');
}

* {
    scrollbar-width: thin;
    /* auto | thin | none */
    scrollbar-color: #121212 #555;
    /* thumb | track */
}